$primary_color: #9356DC;
$secondary_color:#FF79DA;
$tertiary_color:#99E2D0;
$color_black: black;
$color_gris_search:#EAEAEA;
$color_gris_menu:#F6F6F6;
$color_gris_search_border:darken($color_gris_search, 40%);
$color_gris_title_back:lighten($color_gris_search, 5%);
$h3_font-size:40px;
$h3_margin-buttom:20px;